doctype html
html
  head
    title Oboe.js stream tests
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript", src="/javascripts/jquery.js")
    script(type="text/javascript", src="/javascripts/oboe.js")
  body
    block content
    script(type="text/javascript", src="/javascripts/main.js")